.an-option1, .an-option2, .an-option3, .an-option4, .an-option5, .an-option6, .an-option7, .an-option8, .an-option9, .an-option10, .an-option11, .an-option12, .an-option13, .an-option14, .an-option15, .an-option16, .an-option17, .an-option18{
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
    letter-spacing: 2px;
}